// 背景色
$theme-bg-color: rgba(0, 0, 0, 0.08);
$theme-bg-color-deep: rgba(0, 0, 0, 0.12);
// 间隙
$sm-gap: 4px;
$md-gap: 8px;
$xl-gap: 16px;
// 圆角
$sm-radius: 4px;
$dm-radius: 8px;
$xl-radius: 12px;
// 阴影
$box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
             0 9px 28px 0px rgba(0, 0, 0, 0.05),
             0 12px 48px 16px rgba(0, 0, 0, 0.03);
