@import './base.scss';
* {
  margin: 0;
  padding: 0;
}
html,body {
  overflow: hidden;
}
input[type="color"] {
  position: relative;
  overflow: hidden;
  display: block;
  border: 1px solid $theme-bg-color;
  border-radius: $sm-radius;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
